.menu {
    margin-bottom: 20px;
    min-width: 500px;
    min-height: 50px;

    display: flex;
    font-size: 12px;
    font-weight: 600;

    padding: 0;
    

    &__button {
        padding: 10px 15px;
        cursor: pointer;

        flex: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #DFE5EC;
        color: #4A4A4A;

        &--left {
          border-radius: 7px 0 0 7px;
        }
        
        &--center {
          border: none;
          border-top: 1px solid #DFE5EC;
          border-bottom: 1px solid #DFE5EC;
        }

        &--right {
          border-radius: 0 7px 7px 0;
        }

        &:hover {
            background-color: #2196F3;
            color: #fff;
        }
    }
    
}

.selected {
  background-color: #2196F3;
  color: #fff;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        min-width: auto; 

        &__button {
            border: 1px solid #DFE5EC;
            border-radius: 7px; 
        }
    }
}